.searchBar {
  position: relative;
  /*width: 20rem;*/
}

.searchBar > input {
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0.5rem;
  font-size: 1.5r;
}

.searchBar > input::placeholder{
    font-weight: 400;
    font-size: 1.35rem;
}

.searchBar > button {
  position: absolute;
  top: calc(0.25rem + 2px);
  right: calc(0.25rem + 2px);
  font-size: 1.5rem;
  color: var(--btn-blue-color);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
  padding: 0.25rem;
  border-radius: 9999px;
  border-style: solid;
  border-width: 0.3rem;
  border-color: transparent;
  background-color: transparent;
  transition: 250ms;
}


.searchBar >button:hover {
  color: whitesmoke;
  background-color: var(--btn-blue-color);
}

@media screen and (min-width: 576px) {
    .searchBar{
      width: 25rem;
      max-width: 25rem;
    }
  }